@model IEnumerable<TestWebApplication.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutModern.cshtml";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @*<button id="CreateButton" type="button" class="btn btn-primary btn-lg">
            Create
        </button>*@

    @using (Ajax.BeginForm("Create", "ContactsAjax", new AjaxOptions() { UpdateTargetId = "modal_body", HttpMethod = "Get", OnSuccess = "ShowModal" }))
    {
        <button id="CreateButton" type="submit" class="btn btn-primary btn-lg" >
                Create
            </button>
    }

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>



<!-- Button trigger modal -->
<!-- Modal --> <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="modal_header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body" id="modal_body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>






<script type="text/javascript">
    function ShowModal() {

    }

</script>